.wow {
  width: 100px;
}
/** designing my header to be bigger and bolder than my sub headings**/
h1{
  font-family: 'Playfair';
  font-size: 85px;
  font-stretch: extra-expanded;
  color: black;
  background-color: rgb(252, 223, 226);
  text-align: center;
  padding: 1cm ;
  border: double rgba(0, 0, 0, 0.829);
  border-width: 10px;
}
h2{
  font-family: 'Playfair';
  font-size: 45px;
  color: black;
  background-color: rgb(252, 223, 226);
  text-align: left;
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
  border: double black;
}
h3{
  font-size: 33px;
  text-align: left;
  border: inset white;


}
p{
  line-height: 1.6;
  font-size: larger;
  font-family:'Gill Sans Nova' ;
  order: 1px solid black;
  margin: 75px, 350px;
  height: 55ppx;
  background-color: white;
  color:black;
  font-size: x-large;
  text-align: center;
  border: outset silver;
}
ul{
  order: 1px solid black;
  margin: 75 px, 350px;
  background-color: white;
  color:black;
  font-size: x-large;
  text-align: left;
  border: outset silver;
}
/**Below I am creating a border for my image as well as attempting to center it**/
img {
border: 6px double silver;
border-radius: 4px;
border-width: 0.03in;
padding: 5px;
display: block;
  margin: auto;
  width: 75%;
}
/** creating a design CSS to make my contact information pop out**/
ol{
  order: 1px solid black;
  margin: 75 px, 350px;
  height: 55ppx;
  background-color: white;
  color:black;
  font-size: x-large;
  text-align: left;
  border: outset silver;
}
a:hover {
  color: #fd81d4ee;
}
footer{
  order: 1px solid black;
  margin: 75 px, 350px;
  height: 33ppx;
  background-color: white;
  color:black;
  font-size: smaller;
  text-align: center;
  border: outset silver;
}